{% extends "home/base.html" %}
{% load static %}
{%  block title  %} Filter {% endblock %}

{%  block main  %}
<div class="col-sm-6 offset-3">
    <form action="{% url "fil" %}" method="POST">
        {% csrf_token %}        
        <h3 class="text-center p-2">Search for an Employee</h3>
        <lable for="name" >Name:</lable>
        <input id="first_name" class="form-control" name="name"><br>
        <lable for="dept" >Department:</lable>
        <input id="department" class="form-control" name="dept"><br>
        <lable for="role">Designation:</lable>
        <input id="designation" class="form-control" name="role"><br>
        <hr>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
{% endblock %}